<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- css -->
    
    
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-4.4.1.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'https://cdn.usebootstrap.com/bootstrap/4.4.1/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

   
    

    <title>Home</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <section class="nav">
                <!-- navigation -->
            <nav class="navbar fixed-top navbar-expand-lg"> <a class="navbar-brand" href="#"><img class="" src="{% static 'assets/img/logo.svg' %}" alt=""><span>  Sacred Heart School </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">E-Library</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Classes</a> </li>
                  </ul>
              </div>   
              <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Login</button>                  
            </nav>
            </section>
            
        
            

            <!-- banner -->
            <header>
                <div class="jumbotron jumbotron-fluid">
                    <h1>Learn Online <br> Anytime, Anywhere <br> On any Device</h1>
                    <p>Get books, submit assignments and tests, Get graded and achieve your best.</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a></p>
                </div>
            </header>

            <!-- section 1 -->
            <section>
                <div class="container">
                    <h3> Online Learning Made <br> Interactive and Fun!</h3>
                    <div class="row">
                        <div class=" col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="{% static 'assets/img/icon-learn.svg' %}" alt="">
                                <div class="caption">
                                    <p>Learn using amazing productive tools</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="{% static 'assets/img/icon-track.svg' %}" alt="">
                                <div class="caption">
                                    <p>Track your progress and improveyourself</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="{% static 'assets/img/icon-laptop.svg' %}" alt="">
                                <div class="caption">
                                    <p>Syncronize your learning across devices and learn as you go!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- Section 2 upcoming classes -->
            <section class="section-bg">
                <div class="container">
                    <p>Upcoming Classes</p>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="jumbotron">
                                <div class="container">
                                    <a href="#">
                                        <h5>The Reproductive System</h6>
                                        <ul>
                                            <li>Biology <span>SSS3B</span></li>
                                            <li><input type="datetime" name="date" id="date"></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="jumbotron">
                                <div class="container">
                                    <a href="#">
                                        <h5>The Reproductive System</h6>
                                        <ul>
                                            <li>Biology <span>SSS3B</span></li>
                                            <li><input type="datetime" name="date" id="date"></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="jumbotron">
                                <div class="container">
                                    <a href="#">
                                        <h5>The Reproductive System</h6>
                                        <ul>
                                            <li>Biology <span>SSS3B</span></li>
                                            <li><input type="datetime" name="date" id="date"></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--  Assignmetn -->
            <section>
                <div class="container-fluid">
                    <div class="container">
                        <div class="col-md-6">
                            <h5>Results</h5>
                            <p><span>Check your result in a jiffy</span></p>
                            <img src="{%static 'assets/img/result.svg' %}" alt="">
                        </div>
                        <div class="col-md-6">
                            <h5> Assignments</h5>
                            <p><span>Submit your  assignments online</span></p>
                            <img src="{% static 'assets/img/teas.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Teachers Section -->
            <section class="section-bg">
                <div class="title">
                    <h3>Meet Our Teachers</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus earum distinctio odit?</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="teachers d-flex align-items-start">
                            <div class="photo"><img src="assets/img/teacherhead.png" alt=""></div>
                            <div class="teacher-info">
                                <h4>Chukwuma Ciroma Adekunle</h4>
                                <span>M.Ed. Phy. Edu. Unilag</span>
                                <p>brief info about teacher <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, vitae!</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="teachers d-flex align-items-start">
                            <div class="photo"><img src="{% static 'assets/img/teacherhead.png' %}" alt=""></div>
                            <div class="teacher-info">
                                <h4>Chukwuma Ciroma Adekunle</h4>
                                <span>M.Ed. Phy. Edu. Unilag</span>
                                <p>brief info about teacher <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, vitae!</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="teachers d-flex align-items-start">
                            <div class="photo"><img src="{% static 'assets/img/teacherhead.png' %}" alt=""></div>
                            <div class="teacher-info">
                                <h4>Chukwuma Ciroma Adekunle</h4>
                                <span>M.Ed. Phy. Edu. Unilag</span>
                                <p>brief info about teacher <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, vitae!</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="teachers d-flex align-items-start">
                            <div class="photo"><img src="{% static 'assets/img/teacherhead.png' %}" alt=""></div>
                            <div class="teacher-info">
                                <h4>Chukwuma Ciroma Adekunle</h4>
                                <span>M.Ed. Phy. Edu. Unilag</span>
                                <p>brief info about teacher <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, vitae!</p>

                            </div>
                        </div>
                    </div>

                </div>

                <p><a href="#">See all</a></p>

            </section>

            <!-- get books -->
            <section>
                <div class="container">
                    <!-- head -->
                    <h5>Get Books, Audio books, Videos <br>
                        and other support materials in our Digital Library
                    </h5>

                    <div class="search">
                        <form action="" method="get">
                            <input type="search" name="search" id="">
                        </form>
                    </div>
                </div>
            </section>

            <!-- Call to action -->
            <section class="section-red">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                            <img src="{% static 'assets/img/cta.png' %}" alt="">
                        </div>

                        <!-- empty column intentionally -->
                        <div class="col-lg-2"></div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <footer>
                <div class="footer">
                    <div class="container">
                        <div class="footer-top">
                    
                            
                            <!-- about -->
                            <div class="col-lg-4">
                                <div class="about">
                                    <img src="{% static 'assets/img/logo.svg' %}" alt="">
                                    <h5>Our Mission</h5>
                                    <p>school Mission statement <br>
                                        Lorem ipsum dolor sit, amet consectetur adipisicing. <br>
                                        Lorem ipsum dolor sit amet.
                                    </p>
                                </div>
                            </div>
                            
                            <!-- quick links -->
                            <div class="col-lg-4">
                                <h5>Quick Links</h5>
                                <ul>
                                    <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> E-Library</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Classes</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Students Portal</a></li>
                                    <li><a Login href="#"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span> Parent/Guardian</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Staff Login</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Quick seach</a></li>
                                </ul>
                            </div>
                            
                            <!-- contact -->
                            <div class="col-lg-4">
                                <h5>Contact Us</h5>
                                <ul>
                                    <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
                                </ul>
                            </div>
                        </div>
                       
                        </div>
                    </div>
                </div>
                <div class="footer-footer">
                    <!-- school -->
                    <div class="col-lg-6">
                        <p>Copyright © 2021 Sacred Hearth Schools Abeokuta, All Rights Reserved</p>
                    </div>
                    <!-- greaatsome -->
                    <div class="col-lg-6">
                        <p>Powered by Greatsome Innovations</p>
                    </div>
            </footer>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static 'assets/js/popper.min.js' %}"></script> 
	<script src="{% static 'assets/js/bootstrap-4.4.1.js' %}"></script>
</body>
</html>